@import 'settings';

h1 {
    font-size: 5vw;
    font-family: $displayfont;
}

h2 {
    font-size: 3rem;
    font-family: $contentfont;
}

h3 {
    font-family: $displayfont;
    font-size: 2.25rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-family: $contentfont;
    font-size: 1.2rem;
}

p {
    font-family: $contentfont;
    font-size: .9rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}



hr {
    width: 80%;
    border-style: dotted;
    border-color: $lightgreen;
}



footer {
    background-color: $darkgreen;
    color: white;
}