// Item Card Container
.ItemCardContainer {
    border: 1px solid black;
    margin-bottom: 0.5em;
  }
  
.ItemContainerTitle {
text-align: left;
color: #1eb3a6;
}

// Item Card
.itemCard {
    position: relative;
    background-color: #1eb3a6;
    margin: 0.5em 0.5em 0.5em 0.5em;
  }